/* body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #222;
} */

header {
    background-color: #cc770888;
    color: white;
    text-align: center;
    padding: 30px 20px;
}